* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font for the whole doc */
  font-family: Roboto, sans-serif;
  width: 100%;
}

/* Header Bar Styling start */
/* created a container to put the header on. */
.header-container {
  width: 100%;
  background: #1f2937;
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.header-container header {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container header h1 {
  color: #f9faf8;
  font-size: 24px;
}

.header-container header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 32px;
}

.header-container header ul a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}
/* Header Bar Styling stop */

/* Hero Styling start */
.content-hero-container {
  width: 100%;
  background: #1f2937;
  display: flex;
  justify-content: center;
  padding: 160px 0;
}

.content-hero {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.left-items {
  width: 40%;
}

.left-items h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.left-items p {
  font-size: 18px;
  color: #e5e7eb;
}

.left-items button {
  font-family: Roboto, sans-serif;
  border: none;
  background: #3882f6;
  padding: 8px 32px;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  margin: 8px 0 0 0;
}

.right-items {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e7eb;
}
/* Hero Styling stop */

/* Content One Styling start */
.content-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-one h1 {
  margin: 44px 0;
}

.items {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.img-div {
  width: 160px;
  height: 160px;
  border: 3px solid #3882f6;
  border-radius: 16px;
}

.item p {
  width: 160px;
  text-align: center;
  margin-top: 4px;
}
/* Content One Styling stop */

/* Quote Div Styling start */
.quote-div {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 0;
  margin-top: 128px;
}

.italic-p,
.bold-p {
  color: #1f2937;
  width: 40%;
}

.italic-p {
  font-weight: lighter;
  font-size: 36px;
  font-style: italic;
}

.bold-p {
  font-weight: 700;
  font-size: 28px;
  text-align: right;
  margin-top: 4px;
}
/* Quote Div Styling stop */

/* Content Two Styling start */
.content-two-container {
  display: flex;
  justify-content: center;
  padding: 128px 0;
}

.content-two {
  width: 65%;
  background: #3882f6;
  border-radius: 8px;
  display: flex;
  padding: 44px 200px;
  justify-content: space-between;
  align-items: center;
}

.content-two h1,
.content-two p {
  color: #e5e7eb;
}

.content-two button {
  width: 128px;
  height: 36px;
  background: none;
  border: white 2px solid;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  color: white;
}
/* Content Two Styling stop */

/* Footer Styling start */
footer {
  background: #1f2937;
  color: #e5e7eb;
  padding: 28px 0;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
/* Footer Styling stop */
